body {
		text-align: center;
		background-color: #05ADE5;
		color: white;
		font-family: cursive;
		font-size: 21px;
		margin: 2px;
	}

	h1 {
		text-align: center;
	}

	.general {
		background-color: #394042;
		margin-left: 470px;
		margin-right: 465px;
		padding: 5px;
		text-align: center;
		border: 2px solid #394042;
		border-radius: 15px;
	}

	input {
		color: white;
		background-color: #334348;
		border: 2px solid #334348;
		border-radius: 20px;
		text-align: center;
		font-family: cursive;
	}

